.team-wrapper {
  overflow: hidden;
  background-color: var(--dLab-white);
  width: 100%;
  padding: 2em;
}

.teamContainer{
  display: flex;
  padding: 2em;
  margin: 1em auto;
  width: 80%;
  height: 600px;
  border-radius: 1em;
  background: var(--dLab-grey);
}

.imageBox{
  float: left;
  margin: 1em;
}

#group-photo {
  width: 660px;
  height: 400px;
  border-radius: 40%;
}

.teamInfo {
  margin: 1em;
  margin-left: 3em;
  padding: 2em;
  font-size: 23px;
  border-radius: 1.7em;
  background-color: var(--dLab-white);
}

.section {
  width: 60%;
  padding: 1em;
  margin: 5rem auto;
  max-width: var(--max-width);
  background-color: var(--dLab-grey);
  border-radius: 1.2em;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.section-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

article.lastSlide {
  transform: translateX(-100%);
}

article.nextSlide {
  transform: translateX(100%);
}

.prev,
.next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: var(--clr-grey-5);
  color: var(--clr-white);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}
.prev:hover,
.next:hover {
  background: var(--clr-primary-5);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}

.person-img {
  border-radius: 30%;
  width: 270px;
  height: 270px;
  object-fit: cover;
  border: 4px solid var(--clr-grey-8);
  box-shadow: var(--dark-shadow);
}

article h4 {
  text-transform: uppercase;
  color: var(--clr-primary-5);
  margin-bottom: 0.25rem;
}
.title {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-3);
}
.text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: var(--clr-grey-5);
}
