.containerCourses {
    overflow: hidden;
    margin: auto;
    width: 850px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  .containerCourseCard {
      background-color: var(--dLab-white);
      padding: 1em;
      margin: 0.5em;
      width: 400px;
      float: left;
      border-radius: 1em;
  }

  .containerCourseCardImage {
    margin-bottom: 1em;
    text-align: center;
    position: relative;
  }
  img {
      margin: auto;
      padding: 0.2em;
      border-radius: 0.5em;
  }

  .containerCourseCardTitle {
    text-align: left;
    color: black;
  }

  .containerCourseCardAuth{
    text-align: left;
    opacity: 0.5;
    color: black;
}

  .containerCourseCardParag {
    text-align: justify;
    color: black;
  }
 
  .ratings {
    font-size: 15px;
    height: 25px;
    float: left;
    color: black;
  }
  .numberOfUsers {
    font-size: 15px;
    height: 25px;
    float: left;
    color: black;
  }

  .containerCourseCardPrice {
    margin-top: 1.5em;
    padding: 0.5em;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    color: black;
  }

