@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import "../node_modules/font-awesome/css/font-awesome.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  --dLab-marine-blue: #393852;
  --dLab-grey: #F0F0F0;

  --dLab-orange: #f2a35e;
  --dLab-orange-oposite: #eb9e91;

  --dLab-talk: #F1D2B6;
  --dLab-red-grape: #ec6952;

  --dLab-light-blue: #c7d5ed;
  --dLab-light-olive: #8ea6a4;

  --dLab-blue: #7697ce;
  --dLab-ciano: #5aada5;

  --dLab-beige: #f8edeb;
  --dLab-white: #ffffff;
}

body {
  margin: 0px;
  padding: 0px;
  background: var(--dLab-beige);
  /* background: #4c5748; */
  font-family: "Oswald", "Source Sans Pro", sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: #000000;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p,
ol,
ul {
  margin-top: 0;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

p {
  line-height: 1.6;
}

a {
  color: #151515;
}

a:hover {
  text-decoration: none;
}

.container {
  overflow: hidden;
  margin: 0em auto;
  width: 1000px;
}

.btn-signup {
  background: linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
  border-radius: 25px;
  border: 1px solid #000000;
  display: block;
  float: left;
  cursor: pointer;
  color: white;
  font-family: Oswald;
  font-size: 14px;
  font-weight: bold;
  padding: 1px 12px;
  margin-right: 22px;
  text-decoration: none;
}

.btn-signup:hover {
  background: linear-gradient(to bottom, #f1d2b6 5%, #f1d2b6 100%);
  background-color: #ffffff;
}

.btn-signup:active {
  position: relative;
  top: 1px;
}

.btn-login {
  background: linear-gradient(to bottom, #ffffff 5%, #f2a35e 100%);
  border-radius: 25px;
  border: 1px solid #000000;
  display: block;
  float: left;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 14px;
  font-weight: bold;
  padding: 1px 12px;
  margin-right: 22px;
  text-decoration: none;
}

.btn-login:hover {
  background: linear-gradient(to bottom, #f1d2b6 5%, #f1d2b6 100%);
  background-color: #ffffff;
}

.btn-login:active {
  position: relative;
  top: 1px;
}

/* STIL SLIKA*/
.box {
  width: 100%;
  height: 1000px;
  padding: 20px;
  margin: 200px auto;
  box-shadow: 0px 0px 10px 2px;
  background-color: white;
}

#group-photo {
  position: relative;
  bottom: 22%;
}
.image {
  display: inline-block;
}

.image img {
  display: block;
  width: 100%;
}

.image-full {
  display: block;
  width: 100%;
  margin: 0 0 0 0;
}

.image-left {
  float: left;
  margin: 0 2em 2em 0;
}

.image-centered {
  display: block;
  margin: 0 0 2em 0;
}

.image-centered img {
  margin: 0 auto;
  width: auto;
}

/*STIL LISTI */

ul.style2 {
  margin: 0;
  padding-top: 1em;
  list-style: none;
}

ul.style2 li {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 0.8em 0 0.8em 0;
  font-family: 0.8em;
}

ul.style2 li:before {
  display: inline-block;
  padding: 4px;
  background: #db3256;
}

ul.style2 a {
  display: inline-block;
  color: #35514f;
}

ul.style2 li:first-child {
  border-top: 0;
  padding-top: 0;
}

/* STIL BUTTON-a (treba promeniti izgleda kao kurac)*/

.button {
  display: inline-block;
  margin-top: 2em;
  padding: 1em 2em 1em 2em;
  background: #40493c;
  border-radius: 7px;
  border: 1px solid #373f34;
  letter-spacing: 0.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9em;
  color: #fff;
}

.button:before {
  display: inline-block;
  background: #ffc31f;
  margin-right: 1em;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  color: #272925;
}

/* 4-column*/

.box1,
.box2,
.box3,
.box4 {
  width: 235px;
}

.box1,
.box2,
.box3 {
  float: left;
  margin-right: 20px;
}

.box4 {
  float: right;
}

/* 3-column*/

.boxA,
.boxB,
.boxC {
  width: 320px;
}

.boxA,
.boxB {
  float: left;
  margin-right: 20px;
}

.boxC {
  float: right;
}

/* 2-column*/

.tbox1,
.tbox2 {
  width: 490px;
}

.tbox1 {
  float: left;
  padding-left: 8%;
}

.tbox2 {
  float: right;
}

/* Header*/

#header-wrapper {
  overflow: hidden;
  background: url(assets/pngs/pic02.png) no-repeat center;
  height: 380px;
  background-size: 97% auto;
  background-color: var(--dLab-marine-blue);
}


/* Logo (kad se doda)*/
/* Voditi racuna ---- logo ce se koristiti u headeru / footeru / i svim ostalim komponentama - ne dodavati mu staticke parametre*/

/* pocetak navbara */

.navbar {
  background-color: var(--dLab-marine-blue);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 1em;
  height: 6em;
  margin: auto;

}
.navbarContainer {
  display: flex;
  
}

.leftSection {
  margin-top: 0.7em;
  margin-left: 15em;
  display: flex;
  place-content: space-between;
  padding: 0 0.5em;
}

.leftSection li {
  
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
  text-transform: uppercase;
}

.leftSectionLinks {
  color: white;
}

.rightSection {
  position: absolute;
  margin-top: 0.5em;
  right: 6em;
  display: flex;
  place-content: space-between;
}
.rightSection li {
  color: white !important;
  text-decoration: none;
  display: block;
  padding: .5em;
  text-align: right;
}
.line {
  color: var(--dLab-orange);
  font-size: 1.8em;
}

.userIcon {
  color: var(--dLab-orange);
  font-size: 1.7em;
}

#logo {
  position: absolute;
  top: 0.5em;
  left: 4em;
}

/* #logo h1 {
  letter-spacing: 0.1em;
  font-size: 2.5em;
  font-weight: 600;
}

#logo a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
} */

/* Menu*/

/* #menu {
  position: absolute;
  top: 2em;
  right: 0;
  color: #000000;
}

#menu ul {
  display: inline-block;
}

#menu li {
  display: block;
  float: left;
  text-align: center;
}

#menu li a,
#menu li span {
  padding: 1em 1.5em;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #f2a35e;
} */


/* kraj navbaraaa */



/* Main*/

#page-wrapper {
  overflow: hidden;
  padding: 5em 0em;
  background: var(--dLab-greyd);
}

/* Featured*/

#featured {
  overflow: hidden;
  text-align: center;
}

#featured .title h2 {
  margin-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  text-align: center;
  font-size: 2.6em;
  color: #40493c;
}

#featured h2 {
  padding-bottom: 1em;
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 300;
  color: #40493c;
}

#featured img {
  margin-bottom: 2em;
}

#featured .padding-bottom {
  margin-bottom: 6em;
}

/* Portfolio*/

#portfolio {
  overflow: hidden;
  padding: 5em 0em;
}

#portfolio h2 {
  padding-bottom: 1em;
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 300;
}

#portfolio p {
  letter-spacing: 0.1em;
}

/* ####### Laza ubacio ###### */

.btn {
  display: inline-block;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: var(--spacing);
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
}
.btn:hover {
  background: var(--clr-primary-1);
  color: var(--clr-primary-5);
}

.social-icons li {
  margin: 0 0.5rem;
  color: white;
  transition: var(--transition);
}

#user-Icon {
  font-size: 1.8em;
  position: relative;
  right: 10px;
  top: 5px;
}

/* CITAT */

.blockquote {
  padding: 60px 80px 40px;
  position: relative;
}
.blockquote p {
  font-family: "Utopia-italic";
  font-size: 35px;
  font-weight: 700px;
  text-align: center;
}
.blockquote:before {
  position: absolute;
  font-family: "FontAwesome";
  top: 0;

  content: "\f10d";
  font-size: 200px;
  color: rgba(0, 0, 0, 0.1);
}

.blockquote::after {
  content: "";
  top: 20px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  border-bottom: 3px solid rgb(24, 201, 186);
  height: 3px;
  width: 200px;
}

/* Zvezdice */

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 19px;
  width: 120px;
  margin: 0 auto;
  position: relative;
  float: left;
  text-shadow: 0 1px 0 #a2a2a2;
}

.star-ratings-css::before {
  content: "★★★★★";
  opacity: 0.3;
}

[title=".125"]::after {
  width: 12.5%;
}
[title=".875"]::after {
  width: 87.5%;
}
[title=".1000"]::after {
  width: 100%;
}

.star-ratings-css::after {
  color: gold;
  content: "★★★★★";
  text-shadow: 0 1px 0 #ab5414;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top: 0;
  width: attr(rating);
  overflow: hidden;
}
