/* KURS PAGE */

.coursePage {
  background: linear-gradient(0deg, var(--dLab-grey), var(--dLab-white));
  margin-top: 0;
  padding: 3em;
}

.courseInfo {
  position: relative;
  text-align: left;
  color: var(--dLab-white);
  overflow: hidden;
  padding: 2em;
  background: var(--dLab-marine-blue);
}

.courseInfoHead {
  padding: 1em;
}

.courseInfoRating {
  padding: 1em;
}
.ratingDiv {
  float: left;
  padding-right: 0.3em;
}
.courseInfoPredavaci {
  padding-left: 1em;
  position: relative;
  top: 0.5em;
  text-align: left;
  width: 150px;
}

.tehnical-details {
  position: relative;
  padding-left: 1em;
}

.tehnical-details-update {
  float: left;
  width: 200px;
}

.tehnical-details-language {
  width: 200px;
}
#player-wrapper {
  /* display: flex;
    justify-content: center; */
  position: relative;
  padding-top: 35%;
}
#player {
  position: absolute;
  top: 0;
  left: 0;
}

.sellingCard {
  z-index: 999;
  width: 30%;
  float: right;
  position: absolute;
  position: fixed;
  top: 5em;
  right: 1em;
  background-color: var(--dLab-white);
  border-radius: 0.5em;
}

.sellingCardVideo {
  margin: 0em auto;
  padding: 0.2em;
  width: 95%;
}

.videoPlayer {
  margin: 0em auto;
  width: 100%;
  height: 100%;
}

#video {
  border-radius: 1em;
}

.sellingCardOffer {
  padding: 2em;
  margin: 0em auto;
}

.sellingCardOffer-buttons {
  padding: 0em 3em;
}

.gainCard {
  background-color: var(--dLab-grey);
  margin: 1em;
  width: 120vh;
  padding: 2em;
  border-radius: 1em;
  border-color: var(--dLab-light-olive);
  border-style: solid;
  border-width: 1px;
}
.gainCard h2 {
  font-family: 'Viaoda Libre', cursive;
  font-weight: 600;
}

.gainCard ul {
  border-radius: 1em;
  background-color: var(--dLab-grey);
  list-style-type: symbols();
  list-style-position: inside;
  column-width: 12em;
  column-count: 2;
  column-rule: thin solid black;
}

.gainCard ul li {
  margin: 1em;
  font-size: medium;
}

#courseList {
  background-color: red;
  height: 100px;
  width: 120vh;
  margin: 1em;
}
